<% if @note.favorited_by?(current_user) %>
 <li class="nav-item mr-3">
  <%= link_to note_favorites_path(note_id: @note.id), method: :delete, remote: true do%>
  <i class="fas fa-heart fa-2x" style="color:red;"></i>
  <%end%>
  <p><%= @note.favorites.count %>いいね</p>
 </li>
<% else %>
 <li class="nav-item mr-3">
  <%= link_to note_favorites_path(note_id: @note.id), method: :post, remote: true do%>
  <i class="fas fa-heart fa-2x" style="color:grey;"></i>
  <% end %>
  <p><%= @note.favorites.count %>いいね</p>
 </li>
<% end %>







