<div class ="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2 class="text-center my-4">動画登録</h2>
			<%= form_for @note, url: {action: 'new'} do |f| %>
			<div class ="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Youtube URL</span>
				</div>
				<%= f.text_field :url, :class => "form-control", placeholder:"ノートの作成をしたいyoutubeのURLを貼り付けてください", required: true%>
			</div>
			<%= f.submit "ノート作成へ", :class =>"btn btn-lg btn-info d-block mx-auto mt-1 mb-3"%>
			<% end %>
		</div>
	</div>
</div>