$('#note_comment-<%= @note_comment_id %>').html('');
$("#comments_area").html("<%= escape_javascript(render 'index', { note_comments: @note_comments }) %>")
$('#alert-message').html('<div class="alert alert-success"><%= @msg %></div>')